.property-card-li {
  border: 1px solid #dee0df;
  min-width: 55vw;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  height: 380px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.property-card-li-img {
  width: 100%;
  border-radius: 10px;
  height: 50%;
}

.property-card-li-text-container {
  padding: 10px;
  margin: 0px;
}

.property-card-li-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

.property-card-li-place {
  font-size: 14px;
  font-weight: 500;
  color: #c5c9c6;
}

.property-card-li-rooms {
  font-size: 14px;
  margin: 0px;
}

.property-card-li-price {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .property-card-li {
    min-width: 26vw;
    margin: 15px;
  }

  .property-card-li-name {
    font-size: 18px;
  }

  .property-card-li-place {
    font-size: 16px;
  }

  .property-card-li-rooms {
    font-size: 16px;
  }

  .property-card-li-name {
    font-size: 18px;
  }
}
